* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
}

.container .header {
  margin-bottom: 24px;
}

.container .header h2 {
  font-weight: 700;
  color: #133041;
  margin-top: 32px;
  margin-inline: 24px;
  margin-bottom: 8px;
}

.container .header a h4 {
  font-weight: 500;
  color: #4E6E7E;
  margin-left: 24px;
}

.container .main h4 {
  font-weight: 500;
  margin-left: 24px;
  color: #4E6E7E;
  margin-bottom: 12px;
}

.form-group{
  margin-bottom: 24px;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #b8ccd6;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  margin-inline: 24px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #1f3b4d;
}

.prefix,
.suffix {
  background: #e2edf3;
  padding: 12px;
  color: #5a7d8a;
  font-weight: 500;
}